MMO_PORT=7777
MMO_TICK_RATE=20
MMO_CONNECTION_KEY=local-dev
MMO_DB_PROVIDER=sqlite
MMO_DB=Data Source=data/mmo.db
MMO_MIGRATIONS_PATH=db/sqlite
MMO_MOVE_SPEED=5
MMO_INTEREST_RADIUS=96
MMO_MAX_VISIBLE_ENTITIES=150
MMO_WORLD_MIN_X=-3000
MMO_WORLD_MAX_X=3000
MMO_WORLD_MIN_Y=-3000
MMO_WORLD_MAX_Y=3000
